exclude .git .gitmodules
exclude .github/*
include *.cfg *.py *.rst *.txt Makefile*
include docs/Makefile
include docs/*.rst
include docs/*.py
include tests/*.py
include tools/*.py
recursive-include pglast *.py *.pyx *.pxd
recursive-include tests *.sql
exclude libpg_query/*
include libpg_query/LICENSE libpg_query/Makefile libpg_query/pg_query.h
recursive-include libpg_query/src *.c *.h
recursive-include libpg_query/vendor *.c *.h
include libpg_query/srcdata/*.json
prune libpg_query/.github
prune libpg_query/examples
prune libpg_query/patches
prune libpg_query/protobuf
include libpg_query/protobuf/pg_query.proto libpg_query/protobuf/pg_query.pb-c.c libpg_query/protobuf/pg_query.pb-c.h
prune libpg_query/scripts
prune libpg_query/test
prune libpg_query/testdata
prune libpg_query/tmp
include libpg_query/test/sql/postgres_regress/*.sql
