# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   pglast -- Test requirements
# :Created:   lun 07 ago 2017 00:43:41 CEST
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   GNU General Public License version 3 or later
# :Copyright: © 2017, 2018, 2019, 2020, 2021, 2022, 2023 Lele Gaifax
#

coverage==7.3.4
pytest-cov==4.1.0
pytest==7.4.3
