# -*- coding: utf-8 -*-
# :Project:   pg_query -- Test requirements
# :Created:   lun 07 ago 2017 00:43:41 CEST
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   GNU General Public License version 3 or later
# :Copyright: © 2017 Lele Gaifax
#

coverage==4.4.1
pytest-cov==2.5.1
pytest==3.2.1
