# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   pg_query -- Development requirements
# :Created:   ven 04 ago 2017 08:40:30 CEST
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   GNU General Public License version 3 or later
# :Copyright: © 2017 Lele Gaifax

-r requirements-test.txt

aenum==2.0.8; python_version < '3.6'
cython==0.27.3
metapensiero.tool.bump_version==1.3
pycparser==2.18
readme_renderer==17.2
sphinx==1.6.5
