# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   pglast -- Development requirements
# :Created:   ven 04 ago 2017 08:40:30 CEST
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   GNU General Public License version 3 or later
# :Copyright: © 2017, 2018, 2019 Lele Gaifax

-r requirements-test.txt

aenum==2.1.2; python_version < '3.6'
cython==0.29.6
metapensiero.tool.bump_version==1.3
pycparser==2.19
readme_renderer==24.0
sphinx==1.8.5
twine==1.13.0
